// Seats SCSS
.booking-section {
    padding: 120px 0 0;
    position: relative;
    z-index: 0;
    @include tablet {
        padding: 56px 0 48px;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url(../../assets/images/search/bg.png);
        z-index: -1;
        width: 100%;
        height: 477px;
        background-size: 1920px 577px;
        top: 0;
        left: 0;
        background-position: center;
        @include tablet {
            height: 56px;
            background-size: cover;
        }
    }
    & .container {
        @include tablet {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.booking-block {
    display: none;
    max-width: 1038px;
    margin: 0 auto 20px;
    padding-bottom: 91px;
    border-bottom: 1px solid #E5E7EB;
    animation: moveUpLess 300ms ease;
    @include tablet {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    & .booking-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 4px 12px rgba(163, 163, 163, 0.62);
        background-color: rgba($white, 100%);
        @include tablet {
            box-shadow: none;
        }
    }
    & .search-query {
        box-shadow: none;
        @include tablet {
            flex-direction: row;
            height: 70px;
        }
        & .search-type {
            @include tablet {
                width: auto;
            }
        }
        & .search-units {
            @include tablet {
                width: auto;
                padding: 0;
                flex-shrink: 0;
            }
            &::before {
                @include tablet {
                    display: none;
                }
            }
        }
        & .search-date {
            @include tablet {
                border-left: 1px solid #6E7491;
                display: block;
                padding: 12px;
            }
            &:last-child {
                @include tablet {
                    display: none;
                }
            }
            & h5 {
                @include tablet {
                    margin-left: 0;
                    font-size: 18px;
                }
            }
            & p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & img {
                    display: none;
                    cursor: pointer;
                    @include tablet {
                        display: inline-block;
                    }
                }
            }
        }
        .search-location {
            @include tablet {
                margin-right: 0;
            }
        }
    }
}

.booking-header {
    display: flex;
    padding: 48px 62px 33px 25px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-200;
    @include tablet {
        padding: 28px 12px 12px;
        flex-direction: column-reverse;
    }
    &.shared-header {
        padding: 48px 25px 33px 25px;
        justify-content: center;
        @include tablet {
            padding: 28px 12px 12px;
        }
    }
    & .booking-avaition {
        @include tablet {
            margin-top: 28px;
            align-self: flex-start;
        }
        & p {
            font-size: 16px;
            line-height: 32px;
        }
    }
    & .booking-steps {
        & ul {
            display: flex;
            align-items: center;
            & a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 76px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    background-color: $gray-200;
                    width: 40px;
                    height: 2px;
                    left: 56px;
                    top: 17.5px;
                }
                & p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $gray-500;
                    font-size: 16px;
                    border: 2px solid $gray-200;
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;
                    margin-bottom: 8px;
                }
                & h5 {
                    font-size: 16px;
                    line-height: 24px;
                    color: #111827;
                    font-weight: 600;
                }
            }
            & li {
                &.active {
                    & p {
                        border: 2px solid $primary;
                        color: $primary;
                        box-shadow: 0px 0px 0px 4px #C0D6FF;
                    }
                }
                &.completed {
                    & p {
                        border: 2px solid $primary;
                        color: $primary;
                    }
                    & a {
                        &::after {
                            background-color: $primary;
                        }
                    }
                }
                &:last-child {
                    & a::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.booking-body {
    padding: 11px 25px 35px;
    display: flex;
    @include tablet {
        padding: 12px 0 24px;
        border-bottom: 1px solid $gray-200;
        flex-direction: column-reverse;
    }
}

.booking-gallery {
    display: flex;
    flex-direction: column;
    @include tablet {
        width: 100%;
        margin-bottom: 24px;
    }
    & .booking-gallery-top {
        display: flex;
        align-items: center;
        column-gap: 16px;
        row-gap: 16px;
        margin-bottom: 24px;
        flex-wrap: wrap;
        @include tablet {
            flex-wrap: nowrap;
            scroll-snap-type: x mandatory;
            overflow: auto;
            column-gap: 0;
            margin-bottom: 0;
            padding-right: 12px;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        &::-webkit-scrollbar {
            @include tablet {
                display: none;
            }
        }
        & .booking-image {
            background-color: #F1F6FF;
            border: 1px solid #B6B6B6;
            width: 154px;
            height: 110px;
            border-radius: 8px;
            background-image: url(../../assets/images/svg/placeholder.svg);
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            overflow: hidden;
            display: none;
            pointer-events: none;
            @include tablet {
                width: 145px;
                height: 110px;
                display: block;
                flex-shrink: 0;
                margin-left: 10px;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }
            &:nth-child(1) {
                width: 494px;
                height: 233px;
                @include tablet {
                    width: 145px;
                    height: 110px;
                }
            }
            & img {
                @extend %object-cover;
                pointer-events: all;
            }
        }
    }
    & .booking-gallery-bottom {
        display: flex;
        justify-content: flex-end;
        @include tablet {
            display: none;
        }
        & .btn {
            padding: 0;
            font-size: 16px;
            line-height: 24px;
            color: #111827;
            display: flex;
            align-items: center;
            background-color: transparent;
            & img {
                margin-left: 6px;
            }
        }
    }
}

.booking-seats {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    width: 100%;
    @include tablet {
        max-width: 100%;
    }
    &>h4 {
        display: flex;
        color: #111827;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 400;
        @include tablet {
            padding: 0 12px;
        }
        & b {
            margin-left: 3px;
        }
    }
    & .seats-allocation {
        border: 1px solid #B6B6B6;
        background: #E9E9E9;
        border-radius: 8px;
        overflow: hidden;
        height: 494px;
        width: 100%;
        margin-bottom: 34px;
        @include tablet {
            border-radius: 0;
            border-left: none;
            border-right: none;
            margin-bottom: 24px;
        }
        & img {
            @extend %object-cover;
        }
    }
    & .seats-avalibility {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 5px;
        @include tablet {
            padding: 0 12px;
        }
        & .unit {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 24px;
            @include tablet {
                font-size: 12px;
                line-height: 14px;
            }
            & img {
                margin-right: 10px;
            }
        }
    }
}

.booking-gallery-block {
    margin-left: 49px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
        margin-left: 0;
    }
    & h4 {
        display: flex;
        color: #111827;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        margin-bottom: 16px;
        margin-top: 8px;
        font-weight: 600;
        @include tablet {
            margin-top: 0;
            margin-bottom: 12px;
            padding-left: 12px;
            padding-right: 12px;
        }
        & img {
            margin-right: 8px;
        }
    }
    & .booking-note {
        border-top: 1px solid $gray-200;
        padding-top: 36px;
        margin-top: auto;
        @include tablet {
            padding: 34px 12px 22px;
        }
    }
}

.booking-footer {
    background-color: #FAFAFE;
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-top: 1px solid $gray-200;
    transform: translateY(0);
    transition: 0.3s all ease;
    @include tablet {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 12px 31px;
        flex-direction: column;
        z-index: 20;
    }
    &.hide {
        transform: translateY(100%);
    }
    & .booking-flight-type {
        display: flex;
        align-items: center;
        margin-right: 51px;
        position: relative;
        @include tablet {
            margin-bottom: 12px;
            width: 100%;
            margin-right: 0;
            justify-content: space-between;
        }
        & p {
            font-size: 16px;
            line-height: 32px;
            margin-right: 13px;
        }
    }
    & .booking-seat {
        display: flex;
        align-items: center;
        position: relative;
        &:hover {
            & .tooltip {
                @include only-large {
                    transform: translateY(0) scale(1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        & .booking-seat-btn {
            display: flex;
            align-items: center;
            border: 1px solid rgba($gray-900, 50%);
            border-radius: 20px;
            padding: 4px 13px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            height: 28px;
            justify-content: center;
            margin-right: 13px;
            cursor: pointer;
            & img {
                margin-right: 4px;
            }
        }
        & .booking-hint {
            display: flex;
            cursor: pointer;
        }
    }
    & .booking-details {
        display: flex;
        align-items: center;
        padding: 0 24px 0 5px;
        margin-left: auto;
        margin-right: 16px;
        @include tablet {
            padding: 0;
            width: 100%;
            margin-bottom: 0;
            margin-right: 0;
        }
        & .unit {
            padding: 8px;
            & h5 {
                color: $gray-600;
                font-size: 14px;
                line-height: 19px;
                font-weight: 400;
                margin-bottom: 4px;
            }
            & h4 {
                color: #6E7491;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
            }
            &:last-child {
                margin-left: 54px;
                @include tablet {
                    margin-left: auto;
                }
                & h4 {
                    color: $gray-900;
                    font-weight: 700;
                }
            }
        }
    }
    & .booking-btns {
        display: flex;
        justify-content: flex-end;
        width: 249px;
        @include tablet {
            margin-left: 0;
            width: 100%;
            margin-top: 12px;
        }
        & .btn {
            flex-grow: 1;
            &:nth-child(1) {
                max-width: 116px;
                @include tablet {
                    max-width: 100%;
                }
            }
            &:nth-child(2) {
                margin-left: 16px;
                flex-shrink: 0;
                min-width: 116px;
                @include tablet {}
            }
        }
    }
}

.tooltip {
    position: absolute;
    border-radius: 8px;
    background-color: $white;
    width: 276px;
    z-index: 60;
    box-shadow: 0px 2px 6px rgba(16, 24, 40, 0.2), 0px 2px 4px -2px rgba(16, 24, 40, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%) scale(0);
    transform-origin: 93% 42%;
    opacity: 0;
    transition: 0.2s all ease;
    top: -70px;
    right: -23px;
    @include tablet {
        right: -6px;
    }
    &.active {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }
    & span {
        padding: 12px;
        color: #6C7B85;
        font-weight: 600;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.5px;
        display: inline-block;
        position: relative;
        border-radius: 8px;
        z-index: 1;
        background-color: rgba($white, 100%);
    }
    &::after {
        content: '';
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px -1px rgba(16, 24, 40, 0.1);
        position: absolute;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);
        background-color: rgba($white, 100%);
        background-size: contain;
        right: 24px;
        bottom: -8px;
        z-index: -1;
    }
}

.details-block {
    padding: 31px 25px;
    display: none;
    flex-direction: column;
    @include tablet {
        padding: 24px 12px 0;
    }
}

.passenger-block {
    display: flex;
    flex-direction: column;
    & .passenger-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
        & .passenger-info {
            display: flex;
            align-items: center;
            @include tablet {
                margin-bottom: 12px;
            }
            & img {
                margin-right: 10px;
            }
        }
    }
}

.passenger-skip {
    display: flex;
    align-items: center;
    & .details {
        margin-left: 8px;
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        cursor: pointer;
    }
}

.passenger-body {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    padding-bottom: 40px;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 9px;
    @include tablet {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-bottom: 24px;
    }
    & .passenger-seat-head {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        justify-content: space-between;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 12px;
        }
        & .passenger-seat {
            display: flex;
            align-items: center;
            color: #6E7491;
            font-weight: 600;
            @include tablet {
                margin-bottom: 12px;
            }
            & img {
                margin-right: 4px;
            }
        }
    }
}

.passenger-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 24px;
    @include tablet {
        row-gap: 12px;
    }
}

.passenger-fields {
    & .form-unit {
        &:nth-child(3) {
            @include tablet {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
        &:nth-child(4) {
            @include tablet {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
}

.form-radio {
    display: flex;
    align-items: center;
    @include tablet {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 6px;
    }
    & h5 {
        font-weight: 600;
        font-size: 18px;
        color: #6E7491;
        margin-right: 12px;
        @include tablet {
            font-size: 16px;
        }
        @include mini-mobile {
            font-size: 14px;
        }
    }
    & .radio-unit {
        & label {
            @include mini-mobile {
                font-size: 14px;
            }
        }
        &:nth-child(2) {
            @include tablet {
                margin-left: auto;
            }
        }
        &:not(:last-child) {
            margin-right: 12px;
        }
        & input:checked+label {
            color: #7C8DB0;
        }
    }
}

.form-select {
    display: flex;
    align-items: center;
    @include tablet {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 6px;
    }
    & h5 {
        font-weight: 600;
        font-size: 18px;
        color: #6E7491;
        margin-right: 12px;
        @include tablet {
            font-size: 16px;
        }
        @include mini-mobile {
            font-size: 14px;
            margin-right: 8px;
        }
    }
    & .select-unit {
        flex: 1;
        &:not(:last-child) {
            margin-right: 8px;
        }
        & select {
            @include mini-mobile {
                padding: 12px 16px 12px 2px;
                background-position: right 6px center;
            }
        }
    }
}

.pet-block {
    background-color: #FAFAFE;
    padding: 16px 24px 8px 24px;
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    @include tablet {
        margin-top: 7px;
        padding: 16px;
    }
    & .pet-heading {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 11px;
        & img {
            margin-right: 10px;
        }
    }
    & .pet-body {
        display: flex;
        align-items: center;
        height: 48px;
        @include tablet {
            height: auto;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    & .pet-footer {
        display: none;
        flex-direction: column;
        margin-top: 11px;
        margin-bottom: 8px;
        @include tablet {
            margin-bottom: 0;
        }
        @include mini-mobile {
            margin-top: 16px;
        }
        & h4 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
            @include tablet {
                font-size: 14px;
                line-height: 21px;
            }
        }
        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #6D6D6D;
            @include tablet {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}

.pet-radio {
    display: flex;
    align-items: center;
    margin-right: 49px;
    @include tablet {
        margin-right: 0;
        flex-wrap: wrap;
    }
    & h5 {
        font-weight: 600;
        font-size: 18px;
        color: #6E7491;
        margin-right: 15px;
        @include tablet {
            font-size: 16px;
            margin-bottom: 15px;
            margin-right: 0;
            width: 100%;
        }
    }
    & .radio-unit {
        margin-right: 12px;
        & input:checked+label {
            color: #7C8DB0;
        }
    }
}

.pet-additional {
    display: none;
    align-items: center;
    @include tablet {
        margin-top: 12px;
    }
    @include mini-mobile {
        flex-wrap: wrap;
        width: 100%;
    }
}

.pet-select {
    display: flex;
    align-items: center;
    @include mini-mobile {
        width: 100%;
        justify-content: space-between;
    }
    & h5 {
        font-weight: 600;
        font-size: 18px;
        color: #6E7491;
        margin-right: 12px;
        @include tablet {
            font-size: 16px;
        }
    }
    & .select-unit {
        & select {
            width: 52px;
            @include tablet {
                font-size: 16px;
                height: 38px;
                padding: 7px 24px 7px 6px;
            }
        }
    }
}

.pet-extra {
    margin-left: 19px;
    display: flex;
    align-items: center;
    @include mini-mobile {
        margin-left: 0;
        margin-top: 10px;
        flex-shrink: 0;
    }
    & h5 {
        color: #7C8DB0;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }
    & h4 {
        margin-left: 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }
}

.confirm-block {
    padding: 31px 25px;
    display: none;
    flex-direction: column;
    @include tablet {
        padding: 24px 12px 24px;
        border-bottom: 1px solid $gray-200;
    }
}

.confirm-header {
    display: flex;
    flex-direction: column;
    & h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #111827;
        margin-bottom: 39px;
        @include tablet {
            margin-bottom: 24px;
        }
    }
    & .payment-method {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 39px;
        border-bottom: 1px solid $gray-200;
        margin-bottom: 39px;
        & li {
            width: 120px;
            height: 82px;
            background: $white;
            border: 1px solid $gray-200;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.active {
                border-color: $primary;
            }
        }
        @include tablet {
            display: none;
        }
    }
    & .payement-select {
        display: none;
        margin-bottom: 72px;
        position: relative;
        @include tablet {
            display: block;
        }
    }
}

.confirm-body {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 39px;
    padding-bottom: 39px;
    @include tablet {
        margin-bottom: 24px;
        padding-bottom: 24px;
    }
    & h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #6E7491;
        margin-bottom: 4px;
    }
    & h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}

.card-block {
    display: flex;
    flex-direction: column;
    & .card-details {
        display: flex;
        column-gap: 16px;
        margin-bottom: 24px;
        @include mini-mobile {
            column-gap: 12px;
        }
        & .form-unit {
            flex: 1;
        }
    }
    & .expiry-fields {
        display: flex;
        column-gap: 16px;
        margin-bottom: 24px;
        align-items: center;
        @include mini-mobile {
            column-gap: 6px;
        }
        & select {
            @include mini-mobile {
                padding: 12px 16px 12px 2px;
                background-position: right 6px center;
            }
        }
        input {
            padding: 8px 8px;
        }
        & h4 {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #7C8DB0;
            @include tablet {
                font-size: 16px;
            }
            @include mini-mobile {
                font-size: 14px;
            }
        }
        & .select-unit {
            flex: 1;
        }
        & .form-unit {
            flex: 1;
            max-width: 176px;
        }
    }
    & .billing-address {
        margin-bottom: 24px;
    }
    & .save-card {
        & label {
            font-size: 18px;
        }
        & span {
            margin-right: 10px;
        }
    }
}

.thanks-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 42px;
    margin-bottom: 25px;
    border-bottom: 1px solid $gray-200;
    padding-right: 90px;
    @include tablet {
        padding-right: 0;
        padding-bottom: 24px;
    }
    & h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px;
    }
    & p {
        color: #6D6D6D;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.booking-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;
    &>h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #6E7491;
        margin-bottom: 24px;
    }
}

.booking-list {
    display: flex;
    column-gap: 23px;
    @include tablet {
        flex-direction: column;
    }
    & ul {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px;
            border-radius: 8px;
            &:nth-child(2n) {
                background-color: #FAFAFE;
            }
            & h5 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #6D6D6D;
            }
            & h4 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #111827;
                text-align: right;
            }
        }
    }
}

.terms-block {
    & .checkbox-unit {
        & label {
            align-items: flex-start;
            color: #6D6D6D;
            line-height: 22px;
            & span {
                margin-top: 3px;
            }
            & a {
                text-decoration: underline;
            }
            & p {
                color: $gray-900;
            }
            br {
                @include tablet {
                    display: none;
                }
            }
        }
    }
}

.flight-details {
    margin-bottom: 52px;
    @include tablet {
        padding: 0 12px;
        margin-bottom: 40px;
    }
    & ul {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px;
            border-radius: 8px;
            &:nth-child(2n) {
                background-color: #FAFAFE;
            }
            & h5 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #6D6D6D;
            }
            & h4 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #111827;
                text-align: right;
            }
            & h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                color: #111827;
                text-align: right;
            }
        }
    }
}

.departure-block {
    @include tablet {
        padding: 0 12px;
    }
    & .departure-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #6E7491;
        }
    }
    & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #6D6D6D;
        text-align: right;
        @include tablet {
            font-size: 14px;
        }
    }
}

.shared-flights-footer {
    flex: 1;
    display: flex;
    align-items: center;
    @include tablet {
        margin-bottom: 12px;
        width: 100%;
        flex-direction: row-reverse;
    }
    & .booking-flight-type {
        @include tablet {
            margin-bottom: 0;
            flex-direction: column;
            align-items: flex-end;
        }
        & p {
            @include tablet {
                margin-right: 26px;
            }
        }
    }
    & .booking-details {
        & .unit:last-child {
            @include tablet {
                margin-left: 0;
            }
        }
    }
}